# VS Code configuration files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NPM dependencies
.yarn/*
node_modules/

# macOS
.DS_Store

# Misc
*.log

# Local playground files that match schema mapping
template.json
template.yml
*.template.json
*.template.yml
step-template.json
step-template.yml
*.step-template.json
*.step-template.yml

# Compiled schema
src/workflow_template_schema.json
src/workflow_step_template_schema.json
